ion-item{
   
    border-radius: 0.5rem;
    background-color: #efefef;
    background-image: linear-gradient(to bottom, #a9a2a2e8, rgba(255, 255, 255, 0.67));
  }

.delete{
    color:rgba(248, 0, 0, 0.67)
}
.edit{
    color: rgb(238, 238, 20);
}