<ion-toolbar text-center color="primary">
  <ion-title class="ion-text-center">
    Leitura de Produtos
  </ion-title>
  <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
</ion-toolbar>

<ion-content>

  <ion-card *ngFor="let dados of products">
    <ion-item>
      <ion-label> Codigo Produto: {{dados.CodigoProduto}}</ion-label>
      <ion-icon class="delete" (click)="deleteProducts(dados.id)" position="end" name="trash"></ion-icon>
      <ion-icon class="edit" (click)="editProducts(dados.id)" style="padding-left: 15px;" position="end" name="create"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label> Nome Produto: {{dados.Nome}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Tamanho: {{dados.Tamanho}}</ion-label>
    </ion-item>


    <ion-item>
      <ion-label>Valor: {{dados.Valor}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>